DJANGO_SECRET=supersecretdjangokey
DEBUG=True
ALLOWED_HOST=127.0.0.1

DB_NAME=db_name
DB_USER=db_user
DB_PASS=db_pass
DB_HOST=localhost
DB_PORT=5432

LANGUAGE_CODE=yourlanguage-CODE
TIME_ZONE=Region/City