DJANGO_SECRET=supersecretdjangokey
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=ai-def.com,www.ai-def.com,127.0.0.1,localhost
DJANGO_CORS_ALLOWED_ORIGINS=https://ai-def.com,https://www.ai-def.com,http://ai-def.com,http://www.ai-def.com,http://127.0.0.1:5173,http://localhost:5173
DJANGO_CSRF_TRUSTED_ORIGINS=https://ai-def.com,https://www.ai-def.com,http://ai-def.com,http://www.ai-def.com

POSTGRES_DB_NAME=aidef
POSTGRES_USER=aidef
POSTGRES_PASSWORD=aidef
POSTGRES_HOST=localhost
DOCKER_POSTGRES_HOST=db
POSTGRES_PORT=5432

LANGUAGE_CODE=yourlanguage-CODE
TIME_ZONE=Region/City

MAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=youremail@mail.com
EMAIL_HOST_PASSWORD=xxxx xxxx xxxx xxxx 
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
DEFAULT_FROM_EMAIL=youremail@mail.com
CONTACT_REQUEST_NOTIFICATION_EMAILS=emailto-1@mail.com,emailto-2@mail.com
