{% load i18n admin_urls %}
<div class="submit-row">
{% block submit-row %}
{% if show_save %}<input type="submit" value="{% translate 'Save' %}" class="default" name="_save">{% endif %}
{% if show_save_as_new %}<input type="submit" value="{% translate 'Save as new' %}" name="_saveasnew">{% endif %}
{% if show_save_and_add_another %}<input type="submit" value="{% translate 'Save and add another' %}" name="_addanother">{% endif %}
{% if show_save_and_continue %}<input type="submit" value="{% if can_change %}{% translate 'Save and continue editing' %}{% else %}{% translate 'Save and view' %}{% endif %}" name="_continue">{% endif %}
{% if show_close %}
    {% url opts|admin_urlname:'changelist' as changelist_url %}
    <a href="{% add_preserved_filters changelist_url %}" class="closelink">{% translate 'Close' %}</a>
{% endif %}
{% if render_language_switcher_in_submit_row and language_tabs %}
<div class="submit-row__language-control">
    <span class="submit-row__language-label">{% translate 'Language' %}</span>
    <select class="submit-row__language-select" aria-label="{% translate 'Language' %}" onchange="if (this.value) { window.location.href = this.value; }">
    {% for tab in language_tabs %}
        <option value="{{ tab.url }}"{% if tab.active %} selected{% endif %}>{{ tab.code|upper }}</option>
    {% endfor %}
    </select>
</div>
{% endif %}
{% if show_delete_link and original %}
    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
    <a href="{% add_preserved_filters delete_url %}" class="deletelink">Delete this page</a>
{% endif %}
{% endblock %}
</div>
